/* plus-jakarta-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/plus-jakarta-sans-v8-latin-regular.woff2") format("woff2"), url("../fonts/plus-jakarta-sans-v8-latin-regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/plus-jakarta-sans-v8-latin-500.woff2") format("woff2"), url("../fonts/plus-jakarta-sans-v8-latin-500.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/plus-jakarta-sans-v8-latin-600.woff2") format("woff2"), url("../fonts/plus-jakarta-sans-v8-latin-600.woff") format("woff");
}
/* plus-jakarta-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/plus-jakarta-sans-v8-latin-700.woff2") format("woff2"), url("../fonts/plus-jakarta-sans-v8-latin-700.woff") format("woff");
}
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  background-color: #F6F7F9;
}

img {
  display: block;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1352px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.header-site {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
  border-bottom: 1px solid #F6F7F9;
}

.containertou {
  max-width: 1416px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header-site__wrapper {
  display: flex;
  align-items: center;
}

.header-site__logo-link {
  display: block;
  margin-right: auto;
  padding-left: 28px;
}

.header-site__form {
  max-width: 492px;
  width: 100%;
  margin-right: auto;
}

.header-site__flexwrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.header-site__logowrapper {
  margin-right: 64px;
}

.header-site__imgbobile {
  display: none;
}

.header-site__input {
  display: block;
  color: #596780;
  width: 100%;
  text-align: justify;
  font-size: 14px;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.28px;
  border-radius: 70px;
  border: 1px solid rgba(195, 212, 233, 0.4);
  background-color: #fff;
  padding: 12px 64px;
  background-image: url("../../images/header-lefticon.svg"), url("../../images/header-input-icon.svg");
  background-repeat: no-repeat;
  background-position: left 20px top 10px, right 20px top 10px;
}

.header-site__list {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.header-site__icon {
  position: relative;
  width: 44px;
  height: 44px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid rgba(195, 212, 233, 0.4);
  opacity: 0.8;
}

.header--icon {
  position: relative;
}
.header--icon::before {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 2;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #FF4423;
  content: "";
}

@media only screen and (max-width: 600px) {
  .header-site__wrapper {
    flex-wrap: wrap;
  }
  .header-site {
    background-color: #F6F7F9;
  }
  .header-site__logowrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    width: 100%;
    margin-right: 0;
    margin-bottom: 32px;
  }
  .header-site__form {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .header-site__form::after {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 12px;
    border: 1px solid rgba(195, 212, 233, 0.4);
    border-radius: 10px;
    background-image: url("../../images/header-input-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 16px;
    content: "";
  }
  .header-site__img {
    width: 108px;
    height: 28px;
  }
  .header-site__imgbobile {
    display: block;
  }
  .header-site__list-img {
    width: 28px;
    height: 28px;
  }
  .header-site__list {
    display: none;
  }
  .header-site__input {
    background-image: url("../../images/header-lefticon.svg");
    background-repeat: no-repeat;
    background-position: left 20px top 10px;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 375px) {
  .header-site__input {
    padding-right: 0;
  }
}
main {
  flex-grow: 1;
}

.hero__wrapper {
  display: flex;
  align-items: center;
  min-width: 1312px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.hero__wrapperleft {
  max-width: 640px;
  width: 100%;
  background-image: url("../../images/herobgleft.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #54A6FF;
  border-radius: 10px;
  padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 112px;
  margin-right: 32px;
}

.hero__title {
  margin-bottom: 16px;
  font-size: 32px;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.96px;
}

.hero__text {
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.32px;
  color: #fff;
}

.hiddemi {
  overflow-x: scroll;
}

.hero__link {
  display: inline-block;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
  padding: 10px 20px;
  color: #fff;
  border-radius: 4px;
  background-color: #3563E9;
  text-decoration: none;
}

.hero__wrapperright {
  max-width: 640px;
  width: 100%;
  background-image: url("../../images/herobgright.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 112px;
  background-color: #3563E9;
}

.hero__title-right {
  margin-bottom: 16px;
  font-size: 32px;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.96px;
}

.hero__linkright {
  display: inline-block;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  background-color: #54A6FF;
}

.hero__wrapperrightmin {
  max-width: 284px;
  width: 100%;
}

.hero__wrapperleftmin {
  max-width: 284px;
  width: 100%;
}

.hero__linkright:active {
  background-color: #1A37A7;
}

.hero__link:active {
  background-color: #1A37A7;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #F6F7F9;
  }
  .hiddemi {
    overflow-x: scroll;
  }
  .hero__wrapper {
    min-width: 686px;
    width: 100%;
  }
  .hero__wrapperright {
    width: 327px;
    background-size: contain;
  }
  .hero__wrapperleft {
    width: 327px;
    margin-right: 24px;
    background-size: contain;
  }
  .hero__title {
    font-size: 16px;
  }
  .hero__text {
    font-size: 12px;
  }
  .hero__title-right {
    font-size: 16px;
  }
  .header-site__input {
    background-color: transparent;
  }
}
@media only screen and (max-width: 360px) {
  .hero__wrapperleft {
    width: 272px;
    background-image: url("../../images/herobg-mobl.png");
    background-position: center;
  }
  .hero__wrapperleft .hero__wrapper {
    min-width: 568px;
  }
  .hero__wrapperright {
    width: 272px;
  }
}
.filter__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__radio-wrapper {
  border-radius: 10px;
  background-color: #fff;
  padding: 24px 48px 28px;
  max-width: 582px;
  width: 100%;
}

.filter__label-radio {
  display: inline-block;
  color: #1A202C;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
  margin-bottom: 16px;
}
.filter__label-radio::before {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 4px solid #C2D0F8;
  border-radius: 50%;
  background-color: #3563E9;
  margin-right: 8px;
  content: "";
}

.filter__input {
  display: none;
}

.filter__button {
  border-radius: 10px;
  background-color: #3563E9;
  padding: 18px;
  border: 0;
}

.filter__wrapper-left {
  display: flex;
  align-items: flex-start;
  -moz-column-gap: 24px;
       column-gap: 24px;
}

.filter__labels {
  position: relative;
  margin-right: 24px;
}

.filter__labels:not(:first-child)::before {
  position: absolute;
  left: -24px;
  width: 1px;
  height: 48px;
  background-color: rgba(195, 212, 233, 0.4);
  content: "";
}

.filter__select {
  display: block;
  margin-top: 8px;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../../images/filter-icon.svg");
  background-repeat: no-repeat;
  background-position: right 0;
  padding-right: 50px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.24px;
  color: #90A3BF;
  outline: none;
}

.filter__label-radiotou {
  display: inline-block;
  color: #1A202C;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
  margin-bottom: 16px;
}
.filter__label-radiotou::before {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 4px solid #C2D0F8;
  border-radius: 50%;
  background-color: #54A6FF;
  margin-right: 8px;
  content: "";
}

.filter__wrapper-right {
  display: flex;
  align-items: flex-start;
  -moz-column-gap: 24px;
       column-gap: 24px;
}

.header--img {
  display: none;
}

.car__bottom-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 42px;
  padding-bottom: 42px;
}

.car__bottom-text {
  color: #90A3BF;
  font-weight: 600;
  line-height: normal;
}

.car__bottom-link {
  color: #3563E9;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.filter__button:active {
  background-color: #1A37A7;
}

@media only screen and (max-width: 1200px) {
  .filter__radio-wrapper {
    padding: 24px;
  }
  .filter__wrapper- {
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .filter__select {
    padding-right: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .filter__form {
    position: relative;
    flex-direction: column;
  }
  .filter__labels:not(:first-child) {
    margin: 0 20px;
  }
  .filter__button {
    position: absolute;
    top: 115px;
  }
  .filter__radio-wrapper:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media only screen and (max-width: 430px) {
  .filter__radio-wrapper {
    padding: 16px;
  }
  .filter__wrapper-left {
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .filter__button {
    top: 100px;
  }
  .filter__wrapper-right {
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .car__bottom-text {
    font-size: 14px;
  }
  .car__bottom-link {
    font-size: 12px;
  }
}
@media only screen and (max-width: 350px) {
  .filter__radio-wrapper {
    padding-right: 5px;
    padding-left: 5px;
  }
  .filter__labels:not(:first-child) {
    margin: 0 15px;
  }
  .filter__select {
    font-size: 10px;
  }
}
.wrapper {
  overflow: hidden;
}

.car__list {
  display: flex;
  align-items: center;
  gap: 32px;
  padding-left: 0;
  list-style: none;
  margin: 0;
  overflow-x: scroll;
}

.car__item-link {
  display: block;
}

.car__item {
  width: 304px;
  padding: 24px;
  border-radius: 10px;
  background-color: #fff;
}

.car__top-minwrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.car__title {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.6px;
  color: #1A202C;
  margin-bottom: 4px;
}

.car__top-text {
  font-size: 14px;
  line-height: 150%;
  /* 21px */
  letter-spacing: -0.28px;
  color: #90A3BF;
}

.car__item:nth-child(2) .car__senter-minwrapper::before {
  background-image: url("../../images/car1.png");
}

.car__item:nth-child(3) .car__senter-minwrapper::before {
  background-image: url("../../images/car3.png");
}

.car__item:nth-child(4) .car__senter-minwrapper::before {
  background-image: url("../../images/car1.png");
}

.car__senter-minwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 24px;
}
.car__senter-minwrapper::before {
  display: inline-block;
  width: 232px;
  height: 72px;
  background-image: url("../../images/car2.png");
  background-repeat: no-repeat;
  margin-bottom: 64px;
  content: "";
}

.car__lisnk {
  color: transparent;
}

.car__lisnk:hover {
  color: red;
}

.car__senter-list {
  padding-left: 0;
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 255px;
  gap: 16px;
}

.car__senter-item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #90A3BF;
}
.car__senter-item::before {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../../images/carti-icon1.svg");
  background-repeat: no-repeat;
  margin-right: 6px;
  content: "";
}
.car__senter-item:nth-child(2)::before {
  background-image: url("../../images/Carti-icontou.svg");
}
.car__senter-item:nth-child(3)::before {
  background-image: url("../../images/carti-iconfree.svg");
}

.car__bottom-minwrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.car__bottom-mintext {
  width: 116px;
  color: #90A3BF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.car__strong {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #1A202C;
}

.car__bottom-minlink {
  border-radius: 4px;
  background-color: #3563E9;
  font-weight: 600;
  padding: 10px 20px;
  line-height: 150%;
  /* 24px */
  letter-spacing: -0.32px;
  color: #fff;
  text-decoration: none;
}

.car__bottom-span {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #90A3BF;
}

.car__bottom-minlink:active {
  background-color: #1A202C;
}

@media only screen and (max-width: 600px) {
  .car__item {
    width: 240px;
    padding: 16px;
  }
  .car__title {
    font-size: 16px;
  }
  .car__top-text {
    font-size: 12px;
  }
  .car__senter-minwrapper::before {
    width: 180px;
    height: 58px;
    background-size: cover;
  }
  .car__senter-item {
    font-size: 12px;
  }
  .car__senter-item::before {
    width: 14px;
    height: 14px;
    background-size: cover;
  }
  .car__senter-list {
    width: 240px;
    justify-content: flex-start;
  }
  .car__bottom-mintext {
    width: 100px;
    font-size: 12px;
  }
  .car__strong {
    font-size: 16px;
  }
  .car__bottom-span {
    font-size: 12px;
  }
  .car__bottom-minlink {
    font-size: 12px;
  }
}
.Recomendation__title {
  color: #90A3BF;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  padding-top: 42px;
  margin-bottom: 30px;
}

.Recomendation__senter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}
.Recomendation__senter-wrapper::before {
  display: inline-block;
  width: 242px;
  height: 108px;
  background-image: url("../../images/new1.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 44px;
  margin-top: 44px;
  margin-right: auto;
  content: "";
}

.Recomendation__item:nth-child(2) .Recomendation__senter-wrapper::before {
  background-image: url("../../images/nev2.png");
}

.Recomendation__item:nth-child(3) .Recomendation__senter-wrapper::before {
  background-image: url("../../images/nev3.png");
}

.Recomendation__item:nth-child(4) .Recomendation__senter-wrapper::before {
  background-image: url("../../images/nev4.png");
}

.Recomendation__item:nth-child(5) .Recomendation__senter-wrapper::before {
  background-image: url("../../images/nev5.png");
}

.Recomendation__item:nth-child(6) .Recomendation__senter-wrapper::before {
  background-image: url("../../images/nev6.png");
}

.Recomendation__item:nth-child(7) .Recomendation__senter-wrapper::before {
  background-image: url("../../images/nev7.png");
}

.Recomendation__item:nth-child(8) .Recomendation__senter-wrapper::before {
  background-image: url("../../images/nev8.png");
}

.Recomendation__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.Recomendation__item {
  width: 304px;
  background-color: #fff;
  border-radius: 10px;
  padding: 24px;
}

.Recomendation__endwrapper {
  display: flex;
  align-items: center;
  padding-top: 64px;
  margin-bottom: 64px;
}

.Recomendation__endwrapper-link {
  display: block;
  width: 156px;
  border-radius: 4px;
  text-align: center;
  background-color: #3563E9;
  padding: 10px 20px;
  text-decoration: none;
  margin-left: 43%;
  color: #fff;
  font-weight: 600;
  line-height: 150%;
  /* 24px */
  letter-spacing: -0.32px;
}

.Recomendation__endwrapper-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.28px;
  color: #90A3BF;
  margin-left: auto;
}

.Recomendation__endwrapper-link:active {
  background-color: #1A37A7;
}

@media only screen and (max-width: 600px) {
  .Recomendation__senter-wrapper {
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 28px;
    margin-top: 12px;
    margin-bottom: 32px;
  }
  .Recomendation__senter-wrapper::before {
    width: 160px;
    height: 68px;
    background-size: cover;
    margin-bottom: 0;
  }
  .Recomendation__endwrapper-link {
    width: 122px;
    font-size: 12px;
  }
  .Recomendation--wrapper-list {
    flex-direction: column;
    align-items: flex-start;
    width: 80px;
  }
  .Recomendation__item {
    max-width: 500px;
    width: 100%;
    padding: 16px;
  }
}
@media only screen and (max-width: 450px) {
  .Recomendation__endwrapper-link {
    margin-left: 35%;
  }
}
@media only screen and (max-width: 350px) {
  .Recomendation__senter-wrapper {
    margin-left: 0;
  }
}
.footer {
  padding-top: 80px;
  padding-bottom: 60px;
  background-color: #fff;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__wrapper-left {
  max-width: 292px;
  width: 100%;
  padding-left: 0;
  list-style: none;
}

.footer__text {
  color: rgba(19, 19, 19, 0.6);
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  letter-spacing: -0.32px;
  margin-top: 16px;
  margin-bottom: 20px;
  font-style: normal;
}

.footer__tel-link {
  display: block;
  color: rgba(19, 19, 19, 0.6);
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  font-style: normal;
  letter-spacing: -0.32px;
  margin-bottom: 17px;
  text-decoration: none;
}

.footer__mail-link {
  display: block;
  color: rgba(19, 19, 19, 0.6);
  font-weight: 500;
  line-height: 150%;
  font-style: normal;
  /* 24px */
  letter-spacing: -0.32px;
  text-decoration: none;
}

.footer__wrapper-right {
  display: flex;
  align-items: center;
  gap: 60px;
  max-width: 364px;
  width: 100%;
}

.footer__listleft {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style: none;
  gap: 12px;
}

.footer__item-link {
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  letter-spacing: -0.32px;
  color: rgba(19, 19, 19, 0.6);
  text-decoration: none;
}

.footer__strong {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 30px */
  letter-spacing: -0.4px;
  color: #1A202C;
  margin-bottom: 24px;
}

.footer--logo-link {
  padding-left: 0;
}

.footer__bottom-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  border-top: 1px solid rgba(19, 19, 19, 0.16);
  margin-top: 62px;
  padding-top: 36px;
}

.footer__bottom-text {
  font-weight: 600;
  line-height: 150%;
  /* 24px */
  letter-spacing: -0.32px;
  color: #1A202C;
}

.footer__bottom-list {
  display: flex;
  align-items: center;
  gap: 32px;
  padding-left: 0;
  list-style: none;
}

.footer__item-link:hover {
  color: #1A202C;
}

.footer__item-link:active {
  color: #1A202C;
  opacity: 0.7;
}

@media only screen and (max-width: 600px) {
  .footer__wrapper {
    flex-direction: column;
    gap: 32px;
  }
  .footer__wrapper-right {
    margin: 0 auto;
    max-width: 450px;
    justify-content: space-between;
  }
  .footer__bottom-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer__bottom-list {
    margin-bottom: 32px;
  }
}
@media only screen and (max-width: 370px) {
  .footer__wrapper-right {
    gap: 20px;
  }
}
.filters {
  max-width: 460px;
  width: 100%;
  max-height: 2500px;
  padding: 32px;
  background-color: #fff;
  margin-right: 32px;
}

.filters__labeltit {
  display: block;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.24px;
  color: #90A3BF;
  margin-bottom: 28px;
}
.filters__labeltit:not(:last-child) {
  margin-bottom: 28px;
}

.filters__wrapper {
  margin-bottom: 56px;
}

.fitlters__span {
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 30px */
  letter-spacing: -0.4px;
  color: #90A3BF;
}

.filters__input-label {
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 30px */
  letter-spacing: -0.4px;
  color: #596780;
}
.filters__input-label:not(:last-child) {
  margin-bottom: 32px;
}

.filters__input {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.filter__label-post {
  color: #596780;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.4px;
}

.filter__input-post {
  max-width: 296px;
  width: 100%;
  display: block;
}

.detail-section {
  display: flex;
}

.sports__wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
  margin-bottom: 32px;
}

.sports__wrapper-left {
  max-width: 492px;
  width: 100%;
  margin-right: 32px;
}

.sports__wrapperbg {
  max-width: 492px;
  width: 100%;
  padding: 24px;
  background-image: url("../../images/herobgright.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: calc(50% - 20px) calc(50% + 0px);
  border-radius: 10px;
  background-color: #3563E9;
  margin-bottom: 26px;
  padding-bottom: 176px;
}

.sports__title {
  margin-bottom: 16px;
  font-size: 32px;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.96px;
  margin-bottom: 16px;
}

.sports__titletou {
  max-width: 372px;
  width: 100%;
  margin-bottom: 16px;
  font-size: 32px;
  color: #1A202C;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.96px;
}

.sports__text {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.32px;
  color: #fff;
  max-width: 284px;
}

.sports__wrapper-img {
  display: flex;
  align-items: center;
  max-width: 492px;
  width: 100%;
  gap: 24px;
}

.sports__border-img {
  max-width: 148px;
  width: 100%;
  height: 124px;
  height: 100%;
  border-radius: 10px;
  border: 1px solid transparent;
}
.sports__border-img:hover {
  border: 5px solid #fff;
  padding: 5px;
  border: 2px solid #3563E9;
}
.sports__border-img:hover .sports__img {
  width: 135px;
  height: 110px;
  margin-right: 2px;
}

.sports__wrapper-right {
  max-width: 492px;
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  padding: 24px 24px 32px;
}

.sports__top-minwrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 34px;
}

.sports__top-text {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  color: #596780;
}
.sports__top-text::before {
  display: block;
  width: 108px;
  height: 20px;
  background-image: url("../../images/sportsicon.svg");
  background-repeat: no-repeat;
  content: "";
}

.sports__lisnk {
  color: transparent;
}
.sports__lisnk:hover {
  color: red;
}

.sports__senter-minwrapper {
  margin-bottom: 40px;
}

.sports__senter-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  /* 40px */
  letter-spacing: -0.4px;
  color: #596780;
  margin-bottom: 32px;
}

.sports-senter-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
}
.sports-senter-list:last-child {
  margin-bottom: 16px;
}

.sports__senter-item {
  max-width: 92px;
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 30px */
  letter-spacing: -0.4px;
  color: #90A3BF;
}
.sports__senter-item:not(:first-child) {
  text-align: end;
}
.sports__senter-item:nth-child(2) {
  margin-right: 44px;
}

.sports__spon {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 30px */
  letter-spacing: -0.4px;
  color: #596780;
}

.sports__bottom-minwrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sports__bottom-mintext {
  width: 116px;
  color: #90A3BF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sports__strong {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #1A202C;
}

.sports__bottom-minlink {
  border-radius: 4px;
  background-color: #3563E9;
  font-weight: 600;
  padding: 10px 20px;
  line-height: 150%;
  /* 24px */
  letter-spacing: -0.32px;
  color: #fff;
  text-decoration: none;
}
.sports__bottom-minlink .sports__bottom-minlink::after {
  background-color: #1A202C;
}

@media only screen and (max-width: 1300px) {
  .sports__wrapper {
    flex-direction: column;
  }
  .sports__wrapper-right {
    margin-bottom: 32px;
  }
  .sports__wrapper-left {
    margin-bottom: 32px;
  }
}
@media only screen and (max-width: 800px) {
  .filters {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .sports__title {
    font-size: 16px;
  }
  .sports__text {
    font-size: 12px;
  }
  .sports__titletou {
    font-size: 20px;
  }
  .sports__senter-item {
    font-size: 12px;
  }
  .sports__top-text {
    font-size: 12px;
  }
  .sports__bottom-mintext {
    font-size: 12px;
  }
  .sports__senter-text {
    font-size: 12px;
  }
  .sports__strong {
    font-size: 20px;
  }
  .sports__spon {
    font-size: 12px;
  }
  .sports__wrapper-right {
    min-width: 300px;
    width: 100%;
  }
  .sports__img {
    width: 100%;
  }
  .sports__senter-item:nth-child(2) {
    margin-right: 0;
  }
  .sports__text {
    max-width: 216px;
  }
  .sports__wrapper-left {
    margin-right: 0;
    margin-bottom: 32px;
  }
}
.reviews {
  background-color: #fff;
  border-radius: 10px;
}

.reviews__wrapper {
  padding: 24px;
  margin-bottom: 32px;
}

.reviews__topminwrapper {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.reviews___topmintext {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #1A202C;
  margin-right: 12px;
}

.reviews__top-button {
  border-radius: 4px;
  background-color: #3563E9;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  padding: 10px 20px;
  line-height: normal;
  color: #fff;
  border: none;
}

.reviews__wrapper-top {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.reviews__wrapper-top::before {
  display: inline-block;
  width: 56px;
  height: 56px;
  background-image: url("../../images/header-img.png");
  background-size: cover;
  margin-right: 8px;
  content: "";
}

.reviews__strong {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 30px */
  letter-spacing: -0.6px;
  color: #1A202C;
  margin-bottom: 8px;
}

.reviews__mintex {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 21px */
  letter-spacing: -0.28px;
  color: #90A3BF;
}

.reviews__time {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 14px;
  font-style: normal;
  margin-left: auto;
  font-weight: 500;
  line-height: 150%;
  /* 21px */
  letter-spacing: -0.28px;
  color: #90A3BF;
}
.reviews__time::after {
  display: inline-block;
  width: 108px;
  height: 20px;
  background-image: url("../../images/sportsicon.svg");
  margin-top: 8px;
  content: "";
}

.reviews__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 21px */
  letter-spacing: -0.28px;
  color: #90A3BF;
  margin-bottom: 24px;
  margin-left: 64px;
}

.reviews__wrapper-bottom {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.reviews__wrapper-bottom::before {
  display: inline-block;
  width: 56px;
  height: 56px;
  background-image: url("../../images/recentimg.png");
  background-repeat: no-repeat;
  margin-right: 8px;
  content: "";
}

.reviews__link {
  display: block;
  width: 132px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  font-style: normal;
  padding: 10px 20px;
  font-weight: 600;
  line-height: 150%;
  /* 24px */
  letter-spacing: -0.32px;
  color: #90A3BF;
  text-decoration: none;
}
.reviews__link::after {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../../images/reviewsicon.svg");
  background-repeat: no-repeat;
  margin-left: 6px;
  content: "";
}

.reviews__link:hover {
  color: #1A202C;
}

.reviews__link:active {
  background-color: #D6E4FD;
}

.reviews__link:hover::after {
  color: #1A202C;
}

.reviews__top-button:active {
  background-color: #1A37A7;
}

@media only screen and (max-width: 600px) {
  .reviews__wrapper {
    padding: 0;
  }
  .reviews__wrapper-top::before {
    width: 44px;
    height: 44px;
    background-size: cover;
  }
  .reviews__wrapper-bottom::before {
    width: 44px;
    height: 44px;
    background-size: cover;
  }
  .reviews__strong {
    font-size: 16px;
  }
  .reviews__mintex {
    font-size: 12px;
  }
  .reviews__time {
    font-size: 12px;
  }
  .reviews__span {
    display: none;
  }
  .reviews__link {
    font-size: 14px;
  }
  .reviews__text {
    font-size: 12px;
  }
  .reviews__link::after {
    width: 76px;
    height: 12px;
    background-size: cover;
  }
}
.sectionmax {
  max-width: 1416px;
  width: 100%;
}

.car-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 24px;
}

.car-wrapper::before {
  display: block;
  width: 254px;
  height: 112px;
  background-image: url("../../images/new1.png");
  background-repeat: no-repeat;
  margin-bottom: 64px;
  content: "";
}

.car__item:nth-child(2) .car-wrapper::before {
  background-image: url("../../images/nev2.png");
}

.car__item:nth-child(3) #car-wrapper::before {
  background-image: url("../../images/nev3.png");
}

.car--mrg {
  margin-bottom: 32px;
}

.logo--footer {
  padding-left: 0;
}

@media only screen and (max-width: 600px) {
  .car-wrapper::before {
    width: 160px;
    height: 70px;
    background-size: cover;
  }
}/*# sourceMappingURL=main.css.map */