* {
  box-sizing: border-box;
  margin: 0;

}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  background-color: #F6F7F9;
}

img {
  display: block;
  height: auto;
}